<!--  <p>Hellp World!</p> -->
<!--  <%= @eva.user_comment %> -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<header style="background-color:gray">DELTAL NET</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2" style="background-color:red;">Red</div>
    <div class="col-xs-8" style="background-color:blue;"><input type="search" class="form-control" placeholder="search"></div>
    <div class="col-xs-2" style="background-color:yellow;"><button type="submit" class="btn btn-default">Submit</button></div>
  </div>

  <div class="row">
    <div class="col-xs-6" style="background-color:red;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">得意なジャンル
      </label>
    </div>
    
    <div class="col-xs-6" style="background-color:blue;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">セラミック
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6" style="background-color:red;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">待ち時間が短い
      </label>
    </div>
    
    <div class="col-xs-6" style="background-color:blue;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">根管治療
      </label>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6" style="background-color:red;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">ブリッジ
      </label>
    </div>
    
    <div class="col-xs-6" style="background-color:blue;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">短期集中
      </label>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6" style="background-color:red;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">ホワイトニング
      </label>
    </div>
    
    <div class="col-xs-6" style="background-color:blue;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">セカンドオピニオン
      </label>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6" style="background-color:red;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">インプラント
      </label>
    </div>
    
    <div class="col-xs-6" style="background-color:blue;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">矯正
      </label>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6" style="background-color:red;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">審美
      </label>
    </div>
    
    <div class="col-xs-6" style="background-color:blue;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">子供にやさしい
      </label>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6" style="background-color:red;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">インプラント
      </label>
    </div>
    
    <div class="col-xs-6" style="background-color:blue;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">矯正
      </label>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6" style="background-color:red;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">入れ歯
      </label>
    </div>
    <div class="col-xs-6" style="background-color:blue;">
<!--
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">子供にやさしい
      </label>
-->
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12" style="background-color:red;">
      設備・環境
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6" style="background-color:red;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">大規模(診療台10台以上)
      </label>
    </div>
    
    <div class="col-xs-6" style="background-color:blue;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">急患対応
      </label>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6" style="background-color:red;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">訪問診療
      </label>
    </div>
    
    <div class="col-xs-6" style="background-color:blue;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">CT
      </label>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6" style="background-color:red;">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">オンライン予約
      </label>
    </div>
    <div class="col-xs-6" style="background-color:blue;">
<!--
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">子供にやさしい
      </label>
-->
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12" style="background-color:red;">
      <p class="text-center"><button type="submit" class="btn btn-default btn-xs">検索</button></p>
    </div>
  </div>



</div>
<footer style="background-color:gray">Footer</footer>

<i class="fa fa-twitter"></i>
