<!--  <p>Hellp World!</p> -->
<!--  <%= @eva.user_comment %> -->


<header>DENTAL NET</header>

<body>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<div class="container-fluid">
<%= link_to "Facebookログイン", user_facebook_omniauth_authorize_path %>
<%= link_to "Facebookサインアウト", destroy_user_session_path, method: :delete %>


  <div class="row">
    <div class="col-xs-12 col-space"></div>
  </div>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-9"></div>
      <form action="/result">
        <input type="text" name="dental_name" class="form-control">
        <input type="submit" value="検索">
      </form>
    </div>
    <div class="col-xs-1"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-space"></div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-main"></div>
    <div class="col-xs-3 col-main" style="background-color: orange;">
      <a href="location">
      <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class="col-xs-2 col-main"></div>
    <div class="col-xs-3 col-main" style="background-color: orange;">
      <i class="fa fa-train fa-3x" aria-hidden="true"></i></div>
    <div class="col-xs-2 col-main"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-space"></div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-main"></div>
    <div class="col-xs-3 col-main" style="background-color: orange;">
      <a href="detail_search">
      <i class="fa fa-info fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class="col-xs-2 col-main"></div>

    <div class="col-xs-3 col-main" style="background-color: orange;">
      <i class="fa fa-history fa-3x" aria-hidden="true"></i>
    </div>
    <div class="col-xs-2 col-main"></div>
  </div>

 <div class="row">
    <div class="col-xs-12 col-space"></div>
  </div>

</div>
</body>

<footer style="background-color:gray">©現在、作り途中です。。。</footer>
