<!--  <p>Hellp World!</p> -->
<!--  <%= @eva.user_comment %> -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/main.css">

</head>

<header>DENTAL NET</header>

<body>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-space" style="background-color: darkgoldenrod;">地図</div>
  </div>

  <div class="row">
    <div class="col-xs-1 col-photo"></div>
    <div class="col-xs-10 col-photo">地図</div>
    <div class="col-xs-1 col-photo"></div>
  </div>

  <div class="row">
  <div class="col-xs-12 col-space"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-space" style="background-color: darkgoldenrod;">医院一覧</div>
  </div>

  <div class="row">
    <div class="col-xs-1" style="line-height: 30px;
 height: 30px; background-color: orange;"></div>
    <div class="col-xs-6" style="line-height: 30px;
 height: 30px; background-color: orange;">医院名</div>
    <div class="col-xs-2" style="line-height: 30px;
 height: 30px; background-color: orange;">評価</div>
    <div class="col-xs-2" style="line-height: 30px;
 height: 30px; background-color: orange;">距離</div>
    <div class="col-xs-1" style="line-height: 30px;
 height: 30px; background-color: orange;"></div>
  </div>

  <div class="row">
    <div class="col-xs-1" style="line-height: 30px;
 height: 30px; background-color: bisque;"></div>
    <div class="col-xs-6" style="line-height: 30px;
 height: 30px; background-color: bisque;">医院名</div>
    <div class="col-xs-2" style="line-height: 30px;
 height: 30px; background-color: bisque;">評価</div>
    <div class="col-xs-2" style="line-height: 30px;
 height: 30px; background-color: bisque;">距離</div>
    <div class="col-xs-1" style="line-height: 30px;
 height: 30px; background-color: bisque;"></div>
  </div>


</div>

</body>

<footer style="background-color:gray">©現在、作り途中です。。。</footer>

