<!--  <p>Hellp World!</p> -->
<!--  <%= @eva.user_comment %> -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<header style="background-color:gray">DELTAL NET</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8" style="background-color:red;">DELTAL NOW</div>
    <div class="col-xs-4" style="background-color:yellow;"><button type="submit" class="btn btn-default">投稿</button></div>
  </div>

  <div class="row">
    <div class="row-height"
    <div class="col-xs-3 col-height col-top" style="background-color:red;">
      <label class="checkbox-inline">
        <a href="#" class="btn btn-default btn-xs active" role="button">トップ</a>
      </label>
    </div>
    
    <div class="col-xs-3 col-height col-top" style="background-color:blue;">
      <label class="checkbox-inline">
        <a href="#" class="btn btn-default btn-xs active" role="button">口コミ</a>
      </label>
    </div>

<div class="col-xs-3 col-height col-top" style="background-color:red;">
      <label class="checkbox-inline">
        <a href="#" class="btn btn-default btn-xs active" role="button">地図</a>
      </label>
    </div>
    
    <div class="col-xs-3 col-height col-top" style="background-color:blue;">
      <label class="checkbox-inline">
        <a href="#" class="btn btn-default btn-xs active" role="button">医院詳細</a>
      </label>
    </div>
 </div>


<footer style="background-color:gray">Footer</footer>

<i class="fa fa-twitter"></i>
