<!--  <p>Hellp World!</p> -->
<!--  <%= @eva.user_comment %> -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/main.css">

</head>

<header>DENTAL NET</header>

<body>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-space"></div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-main" style="border-color: blue; background-color: lightblue;">トップ</div>
    <div class="col-xs-3 col-main" style="border-color: blue; background-color: lightblue;">口コミ</div>
    <div class="col-xs-3 col-main" style="border-color: blue; background-color: lightblue;">地図</div>
    <div class="col-xs-3 col-main" style="border-color: blue; background-color: lightblue;">医院詳細</div>
  </div>

  <div class="row">
    <div class="col-xs-1 col-space"></div>
    <div class="col-xs-5 col-space">丸橋医院</div>
    <div class="col-xs-5 col-space">評価：⭐⭐⭐⭐⭐️</div>
    <div class="col-xs-1 col-space"></div>
  </div>

  <div class="row">
    <div class="col-xs-1 col-photo"></div>
    <div class="col-xs-10 col-photo">写真</div>
    <div class="col-xs-1 col-photo"></div>
  </div>

  <div class="row">
    <div class="col-xs-12">わきあいあいがんばっています！</div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-space"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-space" style="background-color: darkgoldenrod;">地図</div>
  </div>

  <div class="row">
    <div class="col-xs-1 col-photo"></div>
    <div class="col-xs-10 col-photo">写真</div>
    <div class="col-xs-1 col-photo"></div>
  </div>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">連絡先情報</div>
    <div class="col-xs-1"></div>
  </div>

  <div class="row">
  <div class="col-xs-12 col-space"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-space" style="background-color: darkgoldenrod;">医院詳細</div>
  </div>

  <div class="row">
    <div class="col-xs-1 col-photo"></div>
    <div class="col-xs-3 col-photo">写真</div>
    <div class="col-xs-6 col-photo">コメント</div>
    <div class="col-xs-1 col-photo"></div>
  </div>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">得意なジャンル：インプラント</div>
    <div class="col-xs-1"></div>
  </div>

</div>

</body>

<footer style="background-color:gray">©現在、作り途中です。。。</footer>

